<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Moshrefy | @ViewData["Title"]</title>
  
  <!-- Tabler CSS -->
  <link href="~/tabler/css/tabler.min.css" rel="stylesheet"/>
  <!-- Tabler Icons -->
    <link href="~/tabler/css/tabler-icons.min.css" rel="stylesheet"/>
  <!-- Custom styles with color palette -->
  <link href="~/css/site.css" rel="stylesheet"/>
</head>
<body class="d-flex flex-column">
  <div class="page page-center">
    <div class="container container-tight py-4">
      @RenderBody()
    </div>
  </div>
  
  <!-- Tabler Core (includes Bootstrap) -->
  <script src="~/tabler/js/tabler.min.js"></script>
  @RenderSection("Scripts", required: false)
</body>
</html>
