

<div class="modal fade" id="confirmModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 shadow">
            <div class="modal-header border-0 pb-0">
                <h5 class="modal-title fw-bold" id="mTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body py-3">
                <p id="mBody" class="mb-3 text-muted"></p>
                <div id="inputSection" class="d-none">
                    <label class="small fw-bold mb-1">Type <span class="text-danger">Delete</span> to confirm:</label>
                    <input type="text" id="mInput" class="form-control">
                </div>
            </div>
            <div class="modal-footer border-0 pt-0">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                <button type="button" id="mBtn" class="btn shadow-sm text-white">Submit</button>
            </div>
        </div>
    </div>
</div>
